.container{
    height: 17.8%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.parent{
    width: 100%;
    height: 100%;
    max-width: 1920px;

}
.parent img{
    max-width: 100%;
    height: 130px;

}
@media screen and (max-width:1110px) {
    .parent img{
        height: 80px;
    }
}

@media screen and (max-width:910px) {
    .parent img{
        height: 60px;
    }
}
@media screen and (max-width:675px) {
    .parent img{
        height: 60px;
    }
}
@media screen and (max-width:480px) {
    .parent img{
        height: 35px;
    }
}
@media screen and (max-width:375px) {
    .parent img{
        height: 30px;
    }
}